@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
  font-family: 'Caveat Brush', cursive;
  font-size: 1.5em;
}

.App {

}

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  
}
